<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
 <link rel="stylesheet" href="/styles/home.css">
</head>

<body>
  <!-- Navbar -->
  <div class="navbar">
      <ul>
            <li><a href="/home">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/register">Register</a></li>
               <li><a href="#">Contact</a></li>
                </ul>
  </div>

  <!-- Cards Section -->
  <div class="card-container">
    <% users.forEach((user1) => { %>
      <div class="card">
        <img src="<%- user1.image%>" alt="" height="150" width="150">
        <h2><%- user1.name %></h2>
        <h2><%-user1.email%></h2>
        <p><%-user1.password%></p>
        <a href="/user1/<%-user1.id%>">See More</a>
      </div>
    <% }) %>
  </div>

  <!-- Footer -->
  <footer>
    © 2025 My Blog | All Rights Reserved
  </footer>
</body>
</html>
